body {
    font-family: arial, sans-serif;
    margin: 0;
    line-height: 1.5;
    min-height: 100vh;
    box-sizing: border-box;
    padding-bottom: 8em;
    padding-top: 2em;
    position: relative;
}

#main {
    background-color: #5D7DBB;
    color: #D1D2D4;
    margin: 0 auto 2em;
    max-width: 50em;
    padding: 5em 1em 3em 5em;
    position: relative;
}
#main img[rel="logo"] {
    height: 4em;
    position: absolute;
    top: 1em;
    right: 1em;
}
#heading {
    clear: both;
    color: white;
    margin-bottom: 4em;
}
#heading h1,
#heading h2 {
    font-style: italic;
    font-weight: normal;
    margin: 0;
}
#heading h1 {
    font-size: 3em;
}
#heading h2 {
    font-size: 1.5em;
    margin-left: 3em;
}

#text p {
    margin: 0;
    font-weight: bold;
}

#contact {
    text-align: center;
    margin-top: 3em;

    /* compensate uneven #main padding */
    margin-right: 4em;
}

footer {
    background-color: #737374;
    color: #D1D2D4;
    text-align: center;
    padding: 1em 0 6em;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: small;
}
footer img {
    display: inline-block;
    height: 3em;
    line-height: 3em;
    vertical-align: middle;
    margin-right: 3em;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
footer li {
    display: inline-block;
}
footer li:not(:last-child):after {
    content: " | ";
}
footer a {
    color: #D1D2D4;
    text-decoration: none;
}
footer a:hover {
    color : white;
}
